<button type="button" (click)="onToggleAddToSpy()">Add product to spy</button>
<div *ngIf="toggleAddToSpy">
  <form (ngSubmit)="addProduct()" [formGroup]="search">
    Product name: <input type="text" formControlName="productName"> Ean: <input type="number" formControlName="ean">

    <button type="submit">Search</button>
  </form>
</div>
<h2>Products to spy</h2>
<ol>
  <li *ngFor="let product of productsToSpy; let indexOfProduct = index">{{product.ean}}
    <button type="button" (click)="onToggleShowAuctions()">Show auctions</button>
    <button type="button" (click)="onToggleAddAuction()">Add auction to spy</button>
    <div *ngIf="toggleAddAuction">
      <div>
        <form (ngSubmit)="addAuction(indexOfProduct)">
          Auction id: <input type="number" [formControl]="auctionId">
          <button type="submit">Add</button>
        </form>
      </div>
    </div>
    <div *ngIf="toggleShowAuctions">
      <div *ngFor="let auction of product.auctions; let indexOfAuction = index">
        {{indexOfAuction +1}}. {{auction.auctionId}} <button type="button" (click)="removeAuction(indexOfAuction,indexOfProduct)">X</button>
      </div>
    </div>
  </li>
</ol>