<button type="button" (click)="onToggleAddToSpy()">Add product to spy</button>
<div *ngIf="toggleAddToSpy">
  <form (ngSubmit)="addProduct()" [formGroup]="search">
    Product name: <input type="text" formControlName="productName"> Ean: <input type="number" formControlName="ean">

    <button type="submit">Search</button>
  </form>
</div>
<h2>Products to spy</h2>
<ol>
  <li *ngFor="let product of productsToSpy; let i = index">{{product.ean}}
    <app-product-to-spy [productToSpy]="product" [indexOfProduct]="i">
    </app-product-to-spy>
  </li>
</ol>